body {
  background-color: #a3bce2;
}
.error {
  background-color: #b7322c;
  padding: 1rem;
  color: white;
  font-family: 'Bebas Neue',cursive;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
}
.resultado {
  color: white;
}
.resultado h2 {
  font-weight: bold;
  color: white;
}
.resultado p {
  font-size: 18px!important;
}
.resultado p span {
  font-weight: bold;
}
p.precio{
  font-size: 30px!important;
}